{{> layout/header}}

<div class="container mt-2">

    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>구매목록 페이지</h1>
        <hr>
        <table class="mt-4 table table-hover">
            <thead>
            <tr>
                <th>주문번호</th>
                <th>상품명</th>
                <th>구매개수</th>
                <th>총 가격</th>
            </tr>
            </thead>
            <tbody>
            {{#models}}
                <tr>
                    <td>{{storeId}}</td>
                    <td>{{name}}</td>
                    <td>{{qty}}개</td>
                    <td>{{totalPrice}}원</td>
                </tr>
            {{/models}}
            </tbody>
        </table>
    </div>


</div>

</body>
</html>