{{> layout/header}}

<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>상품수정 페이지</h1>
        <form action="/store/{{model.id}}/update" method="post">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="name" value="{{model.name}}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="stock" value={{model.stock}}>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="price" value={{model.price}}>
            </div>
            <button type="submit" class="btn btn-primary">상품수정</button>
        </form>
    </div>
</div>

</body>
</html>